<!DOCTYPE html>
<html class="no-js" lang="fr">
{{> meta}}

<body>
<main>
    <header>
        <section class="bg-transparent">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <!--<button class="side-menu-trigger btn btn-dark bg-transparent rounded-0 border-0 p-0">-->
                    <!--<img src="{{assets}}svg/menu-bar.svg" alt="">-->
                    <!--</button>-->
                </div>
                <div class="col-md-4">

                    <a href="/" class="logo">
                        <img src="{{assets}}images/brusselslife_logo.png"
                             title="Brusselslife.be"
                             name="Brusselslife.be"
                             alt="Brusselslife.be">
                    </a>
                </div>
                <div class="col-md-4 news-login-lan">
                    <div class="d-flex flex-row-reverse nav-right">
                        <div id="lan-dropdown" data-toggle="dropdown">
                            <div class="dropdown">
                                <span>FR</span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">EN</a>
                                    </li>
                                    <li>
                                        <a href="#">FR</a>
                                    </li>
                                    <li>
                                        <a href="#">NL</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{>login-form}}




                        <a class="btn btn-primary" target="_blank" href="/newsletter">Newsletter <i
                                class="fa fa-envelope"
                                aria-hidden="true"></i></a>
                        <a href="/submit-agenda" class="btn btn-primary bg-warning-2 submit_event">
                          <strong>
                              Submit event
                          </strong> <img src="{{assets}}svg/arrow-right.svg" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section class="main-navigation">
            <nav>
                <div class="" id="blifeNavBar">
                    <div class="main-menu-wrapper d-flex">
                        <a href="/" class="small-logo">
                            <img src="{{assets}}images/brusselslife_logo.png"
                                 title="Brusselslife.be"
                                 name="Brusselslife.be"
                                 alt="Brusselslife.be">
                        </a>
                        <ul class="main-menu">
                            <li id="menu-item-0">
                                <a href="#">BRUXELLES PRATIQUE</a>
                            </li>
                            <li id="menu-item-1">
                                <a href="#">EAT & DRINK</a>
                            </li>
                            <li class="" id="menu-item-2">
                                <a href="#">BARS</a>
                            </li>
                            <li class="" id="menu-item-3">
                                <a href="#">SPORTS</a>
                            </li>
                            <li class="" id="menu-item-4">
                                <a href="#">LOISIRS </a>
                            </li>
                            <li class="" id="menu-item-5">
                                <a href="#">BEAUTÉ </a>
                            </li>
                            <li class="" id="menu-item-6">
                                <a href="#">MEDICAL </a>
                            </li>
                            <li class="item-agenda active" id="menu-item-7">
                                <a href="/agenda"><i class="fa fa-calendar"></i> AGENDA </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="sub-nav-wrapper" id="sub-menu-7">
                <div class="sub-menu-wrapper d-lg-flex">
                    <div class="sub-menu-titles d-lg-none d-sm-block">
                        AGENDA <i class="fa fa-angle-right"></i>
                    </div>

                    <ul class="sub-level-1">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Concerts</a></li>
                        <li><a href="#">Shows</a></li>
                        <li><a href="#">Exhibitions</a></li>
                        <li><a href="#">Theater</a></li>
                        <li><a href="#">Nightlife</a></li>
                        <li><a href="#">Cinema</a></li>
                        <li><a href="#">Traiteurs</a></li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
            </div>
        </section>
        <div class="arrow-top bg-danger position-fixed text-center text-white">
            <i class="fa fa-arrow-up"></i>
            <span>
           <strong>TOP</strong>
      </span>
        </div>
    </header>

    {{> body}}
</main>
{{> footer}}
</body>
</html>
