<!DOCTYPE html>
<html class="no-js" lang="en" style="padding:0px;">
{{> meta}}
<body style="padding:0px;">

<div id="left_menu" class="slideout-menu-left">
    <ul class="list-unstyled">
        <li id="menu-item-0">
            <a href="#">BRUXELLES PRATIQUE</a>
            <i class="fa fa-angle-down"></i>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li class="active" id="menu-item-1">
            <a href="#">EAT &amp; DRINK</a>
            <i class="fa fa-angle-down"></i>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li id="menu-item-2">
            <a href="#">BARS</a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li id="menu-item-3">
            <a href="#">SPORTS</a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li id="menu-item-4">
            <a href="#">LOISIRS </a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li id="menu-item-5">
            <a href="#">BEAUTÉ </a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li id="menu-item-6">
            <a href="#">MEDICAL </a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
        <li class="item-agenda" id="menu-item-7">
            <a href="#"><i class="fa fa-calendar"></i> AGENDA </a>
            <ul class="left-menu-level-1">
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Friteries</a></li>
                <li><a href="#">Sur Le Pouce</a></li>
                <li><a href="#">Food Trucks</a></li>
                <li><a href="#">Bars &amp; Cafes</a></li>
                <li><a href="#">Tea &amp; Coffee time</a></li>
                <li><a href="#">Traiteurs</a></li>
            </ul>
        </li>
    </ul>
</div>

<main id="panel">
    {{> body}}
</main>

</body>
</html>

