---
layout : default-search.html
title : Brusselslife Search | Brusselslife.be
---

<!-- desktop -->
<div id="search-page" class="pt-4">
    <div class="container bg-transparent p-0">
        <div class="row">
            <div class="col-md-3" id="search_filters">

                <div class="filter mb-4 border-bottom">
                    <h4 class="pl-2 pb-2">
                        <strong>
                            Cuisines
                        </strong>
                    </h4>
                    <ul class="p-0 m-0 list-unstyled">
                        <li class="">
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" id="c_italian">
                                <label for="c_italian">Italian</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox custom-checkbox ">
                                <input type="checkbox" id="c_german">
                                <label for="c_german">German</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" id="c_indian">
                                <label for="c_indian">Indian</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" id="c_french">
                                <label for="c_french">French</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" id="c_belgian">
                                <label for="c_belgian">Belgian</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" id="c_usa">
                                <label for="c_belgian">American</label>
                            </div>
                        </li>
                    </ul>
                    <a href="#"
                       class="btn btn-link btn-see-more"
                       data-toggle="modal"
                       data-target="#more-filters-2">
                        See more
                    </a>

                    <div class="modal" id="more-filters-2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>
                                        <strong>
                                            Cuisines
                                        </strong>
                                    </h5>

                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <ul class="list-unstyled m-0 p-0 row no-gutters">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_9">
                                                <label for="c_9">Arabic</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_8">
                                                <label for="c_8">Spain</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_7">
                                                <label for="c_7">Thailand</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_6">
                                                <label for="c_6">Austrian</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_10">
                                                <label for="c_10">Chinese</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_2">
                                                <label for="c_2">Australian</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_3">
                                                <label for="c_3">New zeland</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_4">
                                                <label for="c_4">Japanese</label>
                                            </div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="checkbox custom-checkbox">
                                                <input type="checkbox" id="c_5">
                                                <label for="c_5">Viatnam</label>
                                            </div>
                                        </li>

                                    </ul>


                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary  btn-sm btn-info-blue"
                                            data-dismiss="modal">
                                        Apply filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6" id="search_results">
                <h3 class="pb-2">
                    Results for
                    <strong>
                        Short eats
                    </strong>
                </h3>

                <!-- Content tabs -->
                <ul class="nav nav-tabs pb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/search/">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/search/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/promotions">Promotions</a>
                    </li>
                </ul>

                <!-- Search results list-->
                <div class="search-results-list" id="article_list">
                    <ul class="list-unstyled m-0 p-0">

                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-1.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-2.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-3.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-4.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-5.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card rounded-0 mb-4">
                                <div class="card-body p-2 d-flex">
                                    <figure class="mr-2">
                                        <a href="#">
                                            <img src="{{assets}}images/search/a-1.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div>
                                        <a href="#">
                                            <h3 class="title">
                                                13 Pop-Up Christmas Markets For Some Crafty Shopping
                                            </h3>
                                            <p>
                                                Because no matter how much you want that dress, it's never worth it. 1.
                                                Right, off the tube...
                                            </p>

                                        </a>
                                        <div class="sub-filters">
                                            <a href="#">
                                                MODE
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="col-md-3" id="search_map">
                <a href="#" class="d-block mb-4">
                    <img src="{{assets}}images/imu-2.jpg" alt="">
                </a>
                <div class="other-categories card rounded-0">
                    <div class="card-body ">
                        <h4>
                            <strong>
                                Other categories
                            </strong>
                        </h4>
                        <ul class="p-0 m-0 list-unstyled">
                            <li>
                                <a href="#">Restaurants</a>
                            </li>
                            <li>
                                <a href="#">Bars</a>
                            </li>
                            <li>
                                <a href="#">Pubs</a>
                            </li>
                            <li>
                                <a href="#">Wine shops</a>
                            </li>

                            <li>
                                <a href="#">Fast food</a>
                            </li>
                            <li>
                                <a href="#">Food trucks</a>
                            </li>
                            <li>
                                <a href="#">Coffee & Tea</a>
                            </li>
                            <li>
                                <a href="#">Catering</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ipad -->

<!-- mobile -->

<!-- scripts -->

<script src="{{assets}}libs/slideout/slideout.min.js"></script>
<script type="text/javascript" src="{{assets}}libs/swipebox/js/swipebox.min.js"></script>
<script src="{{assets}}build/search.js"></script>


