---
layout : default.html
title : Address Paid | Brusselslife.be
---
<!-- home search -->
{{> section-search }}

<!--&lt;!&ndash; leader board advertisement &ndash;&gt;-->
<!--{{> leader-board }}-->

<!-- address page paid-->
<section id="section-page">
    <div class="container">
        {{> block-12}}

        {{> block-22 }}

        {{> block-3-1}}


        {{> block-13}}

        {{> block-14}}

        {{#parseJSON '{"image": "/public/images/article_17.jpg"}'}}
        {{> block-1}}
        {{/parseJSON}}

        {{> block-17}}

        {{> block-15}}

    </div>
</section>

<script type="text/javascript">

</script>