---
layout : default.html
title : Address Paid | Brusselslife.be
---


{{> home-search }}
<!-- address page paid-->
<section id="section-page">


    <!-- if address count minimum 5 -->
    {{> section-block-address }}
    <!-- optional-->
    {{> home-block-article }}
    <!-- optional-->
    {{> home-block-article-address }}
    <!-- optional-->
    {{> section-block-article-address }}
    <!-- optional-->
    {{> section-block-grid-articles }}
    <!-- group address -->
    {{> section-block-group-address }}

</section>

<script type="text/javascript">
    /*<div class="container">
     {{> block-3-1}}
     {{> block-13}}
     {{> block-14}}
     {{> block-15}}
 </div>
         */
</script>