---
layout : default.html
title : Address timeline | Brusselslife.be | Belgium life style site | Brussels news, restaurants, shopping, events & happenings.
---
{{> home-search }}
{{> breadcrumb}}

{{> modal }}
<div class="container place-container">
    <div class="row">
        {{> left-side-block}}
        <div class="col-md-7 place-col-center">
            {{> post-form}}

            <div class="address-gallery p-4 mb-4 bg-white shadow-sm">
                <div class="address-logo-title d-flex ">
                    <figure>
                        <img data-src="{{assets}}images/logo.jpg" class="sombal" alt="By Chef Michel à l'italienne">
                    </figure>
                    <div>
                        <h1>
                            By Chef Michel à l'italienne
                        </h1>
                        <p class="tag_line">
                            Une authentique brasserie belge dans la chaleur de l’Art Déco
                        </p>
                        <address>
                            <i class="fa fa-map-marker"></i>
                            Place Fernand Cocq, 21 - 1050 Bruxelles
                        </address>
                    </div>
                </div>
                <div class="main-image">
                    <figure>
                        <img data-src="{{assets}}images/gallery/1.png" class="sombal" alt="">
                    </figure>
                </div>
                <div class="gallery-thumbs">
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/2.png" class="sombal" alt="">
                    </a>
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/3.png" class="sombal" alt="">
                    </a>
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/4.png" class="sombal" alt="">
                    </a>
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/5.png" class="sombal" alt="">
                    </a>
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/6.png" class="sombal" alt="">
                    </a>
                    <a href="#">
                        <img data-src="{{assets}}images/gallery/7.png" class="sombal" alt="">
                    </a>
                </div>
                <div class="action-buttons">
                    <a href="tel:+94779773225"
                       class="btn btn-default"
                       data-number="+94779773225">
                        <i class="fa fa-phone"></i>
                        Telephone</a>
                    <a href="#" class="btn btn-default">
                        <img src="{{assets}}svg/bl-icon-message.svg" alt="">
                        Send message
                    </a>
                    <a href="#" class="btn btn-default">
                        <img src="{{assets}}svg/reservation.svg" alt="">
                        Reservations
                    </a>
                </div>
            </div>
            <div class="brusselslife_follow px-4 py-2 mb-4 bg-white shadow-sm">

                <button class="btn btn_default btn_follow">
                    + Follow
                </button>
                <div class="followers_small">

                    <div>
                        <img src="{{assets}}images/f_u_1.png" alt="">
                    </div>
                    <div>
                        <img src="{{assets}}images/f_u_2.png" alt="">
                    </div>
                    <div>
                        <img src="{{assets}}images/f_u_3.png" alt="">
                    </div>
                    <div>
                        <img src="{{assets}}images/f_u_4.png" alt="">
                    </div>

                </div>

            </div>
            <div class="business-info  px-4 pb-4 pt-0 mb-4  bg-white shadow-sm">
                <div class="place-title">
                    <h3>
                        Business information
                    </h3>
                </div>
                <div class="row">
                    <div class="col-sm-3 available">
                     <span>
                         Reservations
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                        Take away
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                        Parking
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                       Kids friendly
                     </span>
                    </div>

                    <div class="col-sm-3 available">
                     <span>
                        Outdoor seat
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                        Valet parking
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                         Dine
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                       WiFi Free
                     </span>
                    </div>

                    <div class="col-sm-3 available">
                     <span>
                      For groups
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                       Delivery
                     </span>
                    </div>
                    <div class="col-sm-3 available">
                     <span>
                      Credit cards
                     </span>
                    </div>
                    <div class="col-sm-3 not-available">
                     <span>
                      Has TV
                     </span>
                    </div>

                    <div class="col-sm-3 not-available">
                     <span>
                        Airconditioned
                     </span>
                    </div>
                    <div class="col-sm-3 not-available">
                     <span>
                        Happy hour
                     </span>
                    </div>
                    <div class="col-sm-3 not-available">
                     <span>
                       Catering
                     </span>
                    </div>
                    <div class="col-sm-3 not-available">
                     <span>
                       Bike parking
                     </span>
                    </div>

                    <div class="col-sm-3 not-available">
                     <span>
                      Alcohol
                     </span>
                    </div>
                </div>

            </div>

            <div class="time-line-item shadow-sm bg-white mb-4 py-4">
                <div class="time-line-wrapper time-line-promotion">
                    <div class="time-line-header">
                        <div class="time-line-date"><i class="fa fa-clock-o"></i> 22 October, 2018 (20 mins ago)</div>
                        <div class="dropdown settings-dropdown">
                            <a href="#"
                               class="btn btn-link"
                               data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu shadow-md">
                                <li>
                                    <a href="#">
                                        Edit post
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Unpublish
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Delete
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="time-line-body">

                        <a href="#">
                            <p class="px-2 pt-2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloremque fuga optio
                                praesentium rerum.
                            </p>
                            <figure>
                                <img class="sombal" data-src="{{assets}}images/promotion-img-2.jpg" alt="">
                            </figure>
                            <div class="time-line-content">
                                <div class="time-line-title">
                                    <div class="promo-valid-date">
                                        Valid till November 1st
                                    </div>
                                    <div class="promo-title">
                                        <img src="{{assets}}svg/bl-icon-tag.svg" alt="">
                                        40% off on cup cakes

                                    </div>
                                    <button class="btn" data-toggle="tooltip" data-placement="top"
                                            title="Save promotion">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i> Save
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="time-line-footer">

                    </div>
                </div>
            </div>
            <div class="time-line-item shadow-sm bg-white mb-4 py-4">
                <div class="time-line-wrapper time-line-promotion">
                    <div class="time-line-header">
                        <div class="time-line-date"><i class="fa fa-clock-o"></i> 22 October, 2018 (20 mins ago)</div>
                        <div class="dropdown settings-dropdown">
                            <a href="#"
                               class="btn btn-link"
                               data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu shadow-md">
                                <li>
                                    <a href="#">
                                        Edit post
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Unpublish
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Delete
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="time-line-body">
                        <a href="#">
                            <p class="px-2 pt-2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloremque fuga optio
                                praesentium rerum.
                            </p>
                            <figure>
                                <img class="sombal" data-src="{{assets}}images/promotion-img.jpg" alt="">
                            </figure>
                            <div class="time-line-content">
                                <div class="time-line-title">
                                    <div class="promo-valid-date">
                                        Valid till November 1st
                                    </div>
                                    <div class="promo-title">
                                        <img src="{{assets}}svg/bl-icon-tag.svg" alt="">
                                        40% off on cup cakes

                                    </div>
                                    <button class="btn" data-toggle="tooltip" data-placement="top"
                                            title="Save promotion">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i> Save
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="time-line-footer">

                    </div>
                </div>
            </div>
            <div class="time-line-item shadow-sm bg-white mb-4 py-4">
                <div class="time-line-wrapper time-line-image-post">
                    <div class="time-line-header">
                        <div class="time-line-date"><i class="fa fa-clock-o"></i> 22 October, 2018 (20 mins ago)</div>
                        <div class="dropdown settings-dropdown">
                            <a href="#"
                               class="btn btn-link"
                               data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu shadow-md">
                                <li>
                                    <a href="#">
                                        Edit post
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Unpublish
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Delete
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="time-line-body">
                        <a href="#">
                            <p class="px-2 pt-2">
                                When an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged.
                            </p>
                            <figure>
                                <img class="sombal" data-src="{{assets}}images/image-post.jpg" alt="">
                            </figure>


                        </a>
                    </div>
                    <div class="time-line-footer">
                    </div>

                </div>
            </div>
            <div class="time-line-item shadow-sm bg-white mb-4 py-4">
                <div class="time-line-wrapper time-line-event">
                    <div class="time-line-header">
                        <div class="time-line-date"><i class="fa fa-clock-o"></i> 22 October, 2018 (20 mins ago)</div>
                        <div class="dropdown settings-dropdown">
                            <a href="#"
                               class="btn btn-link"
                               data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu shadow-md">
                                <li>
                                    <a href="#">
                                        Edit post
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Unpublish
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Delete
                                        <span>
                                            Update content on your post
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="time-line-body">

                        <a href="#">
                            <p class="px-2 pt-2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at cupiditate
                                dolorum est mollitia optio quae.
                            </p>
                            <figure>
                                <img class="sombal" data-src="{{assets}}images/timeline-event.jpg" alt="">
                            </figure>
                            <div class="time-line-event-body">
                                <div class="event-date-lg">
                                                  <span>
                                                Apr
                                            </span>
                                    14
                                </div>
                                <div>
                                    <h3 class="event-title mt-2 pr-4">
                                        Le Parvis de Saint-Gilles récupère son grand marché du week-end
                                    </h3>
                                    <p class="event-date-sm m-0">
                                        14 Apr 2018 - 15 May 2018

                                        <button class="btn btn-warning">
                                            Buy Tickets
                                        </button>
                                    </p>

                                    <div class="pb-2">
                                        <span class="event-cat">
                                        MUSIC
                                    </span> |
                                        <span class="event-location">
                                       Ixelles
                                   </span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="time-line-footer">

                    </div>
                </div>
            </div>
        </div>
        {{> right-side-block}}
    </div>
</div>
<script type="text/javascript" src="{{assets}}build/place.js"></script>
