---
layout : default.html
title : Address timeline | Brusselslife.be | Belgium life style site | Brussels news, restaurants, shopping, events & happenings.
---
{{> home-search }}
{{> breadcrumb}}
{{> modal }}
<div class="container place-container">
    <div class="row">
        {{> left-side-block}}
        <div class="col-md-7 place-col-center">
            {{> post-form}}

            <div class="empty-post bg-white shadow-sm py-4 mb-4">
                <img src="{{assets}}svg/menu-icon-article.svg" alt="">
                <p class="my-4">
                    <strong>
                        Write something about your business
                    </strong>
                </p>
                <button data-toggle="modal"
                        data-target="#add_article_modal"
                        class="btn btn-default btn-post-article mb-2">
                    <img src="{{assets}}svg/menu-icon-article.svg" alt="">
                    Write an article
                </button>
                <p>
                    <span>
                       Bring more visibility to your business by writing an article and sharing with Brusselslife article feed.
                    </span>
                </p>
            </div>


            <section class="business-article-list">
                <div class="bg-white shadow-sm mt-4 px-4">
                    <div class="place-title d-flex">
                        <h3>
                            Recent articles
                        </h3>
                        <!--<a href="#" class="btn btn-link btn-edit">-->
                            <!--<i class="fa fa-pencil"></i> Edit-->
                        <!--</a>-->
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                           <div class="action_btns">
                                <span class="ui" data-tooltip="Edit">
                                <i class="fa fa-pencil"></i>
                            </span>
                               <span class="ui" data-tooltip="Delete">
                                <i class="fa fa-trash"></i>
                            </span>
                           </div>

                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/address_block_3.jpg" alt="">
                                </figure>
                                <p>
                                    <strong>
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </strong>
                                </p>
                                <p>
                                    <small>Sometimes creativity flows like magic</small>
                                </p>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="action_btns">
                                <span class="ui" data-tooltip="Edit">
                                <i class="fa fa-pencil"></i>
                            </span>
                                <span class="ui" data-tooltip="Delete">
                                <i class="fa fa-trash"></i>
                            </span>
                            </div>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/address_block_3.jpg" alt="">
                                </figure>
                                <p>
                                    <strong>
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </strong>
                                </p>
                                <p>
                                    <small>Sometimes creativity flows like magic</small>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                            <div class="action_btns">
                                <span class="ui" data-tooltip="Edit">
                                <i class="fa fa-pencil"></i>
                            </span>
                                <span class="ui" data-tooltip="Delete">
                                <i class="fa fa-trash"></i>
                            </span>
                            </div>

                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/address_block_3.jpg" alt="">
                                </figure>
                                <p>
                                    <strong>
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </strong>
                                </p>
                                <p>
                                    <small>Sometimes creativity flows like magic</small>
                                </p>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6">

                            <div class="action_btns">
                                <span class="ui" data-tooltip="Edit">
                                <i class="fa fa-pencil"></i>
                            </span>
                                <span class="ui" data-tooltip="Delete">
                                <i class="fa fa-trash"></i>
                            </span>
                            </div>

                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/address_block_3.jpg" alt="">
                                </figure>
                                <p>
                                    <strong>
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </strong>
                                </p>
                                <p>
                                    <small>Sometimes creativity flows like magic</small>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


            {{> review}}
        </div>
        {{> right-side-block}}
    </div>
</div>
<script type="text/javascript" src="{{assets}}build/place.js"></script>
