---
layout : default.html
title : Article page | Brusselslife.be
---

{{> home-search }}
<!-- leader board advertisement -->
{{> leader-board }}
<!-- leader board advertisement -->
{{> breadcrumb}}

<div class="modal" id="edit_article_modal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <div class="form-title">
                    Edit / Create article
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="modal-title">
                    Article title, summary, category
                </div>
                <div class="form-element">
                    <label for="">Article title</label>
                    <input type="text" value="Au mois de mai, Bruxelles fête ses marchés !" class="form-control">
                </div>

                <div class="form-element">
                    <label for="">Summary</label>
                    <textarea class="form-control">La Ville de Bruxelles met à l'honneur les marchés bruxellois avec la Fête internationale des Marchés. De nombreuses activités sont organisées en mai.
                    </textarea>
                </div>

                <div class="form-element">
                    <div class="action_btns">
                                <span class="ui" data-tooltip="Choose different picture">
                               <i class="fa fa-picture-o"></i>
                            </span>
                    </div>
                    <figure>
                        <input type="file">
                        <img src="{{assets}}images/gallery/1.png" alt="">
                    </figure>
                </div>


                <div class="form-element">
                    <label for="">Categories</label>
                    <select class="form-control">
                        <option value="0">Select article category</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Sports">Sports</option>
                        <option value="Sports">Beauty</option>
                        <option value="Sports">Medial</option>
                        <option value="Sports">Events</option>
                    </select>
                </div>
                <div class="modal-title">
                    Article description
                </div>
                <div class="form-element">
                    <label for="">Article body</label>
                    <textarea id="edit_article_body"></textarea>
                </div>

                <div class="form-element">
                    <label for="">SEO Keywords (Separated by comma)</label>
                    <input type="text" class="form-control">
                </div>

                <div class="modal-title">
                    Publishing options
                </div>
                <div class="form-element" id="chk_article_publish">
                    <div class="row">
                        <div class="col-sm-12">

                             <span class="alert alert-warning">
                                 <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Your article is not yet published
                    </span>

                            <div class="checkbox">
                                <input type="checkbox" id="p_p">
                                <label for="p_p">Publish article</label>
                            </div>

                        </div>
                    </div>
                    <div class="article_publish_options">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="date"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-clock-o text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="time"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-2">
                                <div class="form-element">
                                    <label for="">
                                        Schedule publishing date, time
                                    </label>
                                    <button class="btn btn-secondary btn-sm"
                                            data-toggle="modal" data-target="#schedule_article_modal">
                                        <i class="fa fa-list-ul" aria-hidden="true"></i> Schedule
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-element">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <input type="checkbox" id="s_s">
                                <label for="s_s">Social sharing</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c_c">
                                <label for="c_c">Comments</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-element">
                    <label for="">Author</label>
                    <input type="text" readonly disabled value="Donatienne de Vleeschauwer" placeholder="Author"
                           class="form-control">
                </div>

            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-right">
                        <div class="form-element">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="schedule_article_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-title">
                    <i class="fa fa-clock-o"></i> Schedule your article
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-element">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">Start date</label>
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="date"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">End date</label>
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="date"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">Start time</label>
                                <div class="input-group time">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                    </div>
                                    <input type="time"
                                           class="form-element"
                                           placeholder="">
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">End time</label>
                                <div class="input-group time">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                    </div>
                                    <input type="time"
                                           class="form-element"
                                           placeholder="">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<!-- address page paid-->
<section id="article_page">
    <div class="container">
        <div class="action_btns">
                                <span class="ui"
                                      data-toggle="modal" data-target="#edit_article_modal"
                                      data-tooltip="Edit this article">
                                <i class="fa fa-pencil"></i>
                            </span>
        </div>
        <div class="row article-title mb-4" id="cat-1">
            <div class="col-12">
                <h1 class="my-2">
                    Au mois de mai, Bruxelles fête ses marchés !
                </h1>
                <h2 class="my-2">
                    La Ville de Bruxelles met à l'honneur les marchés bruxellois avec la Fête internationale des
                    Marchés. De nombreuses activités sont organisées en mai.
                </h2>
                <div class="flex-row">
                    <div class="article_filters">
                        <a href="#">RESTAURANTS</a>
                        <a href="#">TERRASSE</a>
                        <a href="#">STEAK HOUSE</a>
                    </div>
                    <div class="d-flex">
                        <p class="publish-date">
                            Créé le 28/03/2018 - Dernière mise à jour le 03/07/2018
                        </p>
                        <p class="author-name">
                            | Par <a href="#">Donatienne de Vleeschauwer</a>
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row pb-2">
                    <div class="sharethis-inline-share-buttons"></div>
                    <!--<div class="addthis_inline_share_toolbox"></div>-->
                    <div class="write-comments-count d-flex">
                        <p>
                            Write Comments
                        </p>
                        <div>
                            <div class="comments-count">03</div>
                        </div>
                    </div>
                </div>
                <img src="{{assets}}images/full-article.jpg" class="img-fluid mb-4" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 border-right">
                <figure>
                    <img class="main-image img-fluid" src="{{assets}}images/article_body_img.jpg" alt="Article Page">
                </figure>
                <div class="content-body">
                    <h2>
                        La Ville de Bruxelles aime ses marchés et vous ?
                    </h2>
                    <p>
                        La 3e édition de la Fête internationale des Marchés s’invite sur les étals des commerçants
                        pendant le mois de mai. A Bruxelles, mais en Wallonie aussi, de nombreuses activités seront
                        organisées pour célébrer le dynamisme et la convivialité de ces lieux de vente. <br>
                        Depuis le 5 mai, la Belgique participe à la campagne internationale <a href="#">J’aime mon
                        marché</a>. Cet événement, coordonné en Belgique par le
                        <a href="#">Marché Matinal MABRU</a> et les établissements Charve, a pour objectif de mettre en
                        valeur les marchés alimentaires.
                    </p>
                </div>
                {{> block-subscribe}}
                <div class="content-body">
                    <figure>
                        <img class="img-fluid" src="{{assets}}images/article_body_img_2.jpg" alt="">
                        <span class="img-alt-caption">
                            Planting vegetables
                        </span>
                    </figure>
                    <p>
                        La Ville de Bruxelles organise 15 marchés par mois et durant ce mois de mai, il y aura de
                        nombreuses activités organisées : ateliers ludiques, tombola, petits concerts, etc. Les
                        commerçants proposeront aussi des dégustations et distribueront des badges et sacs
                        réutilisables « J’aime mon marché ».
                        <br><br>
                        marchés par mois et durant ce mois de mai, il y aura de
                        nombreuses activités organisées : ateliers ludiques, tombola, petits concerts, etc. Les
                        commerçants proposeront aussi des dégustations et distribueront des badges et sacs
                        réutilisables « J’aime mon marché ».
                        La Ville de Bruxelles organise 15 marchés par mois et durant ce mois de mai, il y aura de
                        nombreuses activités organisées : ateliers ludiques, tombola, petits concerts, etc. Les
                        commerçants proposeront aussi des dégustations et distribueront des badges et sacs
                        réutilisables « J’aime mon marché ».
                    </p>


                    <div class="sharethis-inline-reaction-buttons"></div>
                </div>
                {{> block-8}}
                {{> article-comments}}

            </div>
            <div class="col-md-5">
                {{> block-9 }}
                {{> imu-square }}
                {{> block-10 }}
                {{> block-11 }}
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{{assets}}build/article.js"></script>
<!--add this social sharing tool -->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8d05b1d7183391"></script>-->
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c34767dad0b1400119dbac9&product=inline-share-buttons' async='async'></script>