---
layout : default_agenda.html
title : Agenda single page | Brusselslife.be
---
{{> agenda-search }}

{{> leader-board }}

{{> breadcrumb}}
<section id="event_page">
    <div class="modal" id="add_more_event_time">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-title">
                        <i class="fa fa-clock-o"></i> Schedule your event
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-element m-0">
                        <label for="">Frequency</label>
                        <select class="form-control">
                            <option value="-1">Choose</option>
                            <option value="1">Repeat daily</option>
                            <option value="2">Repeat Weekly</option>
                            <option value="3">Custom dates</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">Start date</label>
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="date"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">End date</label>
                                <div class="input-group">
                                    <div class="input-group time">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                        </div>
                                        <input type="date"
                                               class="form-element"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">Start time</label>
                                <div class="input-group time">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                    </div>
                                    <input type="time"
                                           class="form-element"
                                           placeholder="">
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label for="">End time</label>
                                <div class="input-group time">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                    </div>
                                    <input type="time"
                                           class="form-element"
                                           placeholder="">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="m-0">
                                <strong>
                                    Customize date & time
                                </strong>
                            </p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-element">
                                        <label for="">Choose dates</label>
                                        <div class="schedule_date"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="m-0">
                                        <strong>
                                            12-Dec-2018
                                        </strong>
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">Start time</label>
                                                <div class="input-group time">
                                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                                    </div>
                                                    <input type="time"
                                                           class="form-element"
                                                           placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">Start time</label>
                                                <div class="input-group time">
                                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-clock-o text-muted"></i></span>
                                                    </div>
                                                    <input type="time"
                                                           class="form-element"
                                                           placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer d-block text-right">
                    <button type="button" class="btn btn-primary">Save</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal edit-event-content" id="edit_event_content">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-title">
                        Edit event
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">

                    <p class="m-0">
                        <strong>
                            Basic Info
                        </strong>
                        <small>This info will also appear in News Feed and any ads created for this event</small>
                    </p>
                    <div class="form-element">
                        <label for="">Event photo </label>
                        <div class="event-preview">
                            <div class="preview-upload-image">
                                <button>
                                    <i class="fa fa-photo"></i> Image
                                    <input type="file">
                                </button>
                            </div>

                            <div class="event-preview-info">
                                <div class="d-flex">
                                    <div class="event-date-lg">
                                    <span>
                                        NOV
                                    </span>
                                        26
                                    </div>
                                    <div>
                                        <div class="event-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                                        </div>
                                        <div class="event-date-sm">
                                            Apr 16th 2018 - May 14 2018
                                        </div>
                                        <div>
                                        <span class="event-cat">
                                            MUSIC
                                        </span> |
                                            <span class="event-location">
                                            Ixelles
                                        </span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div>
                        <p class="m-0">
                            <strong>
                                Details
                            </strong>
                            <small>
                                Let people know what type of event you're hosting and what to expect
                            </small>
                        </p>
                        <div class="form-element">
                            <label for="">Event title</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Add a short name of your event">
                        </div>
                        <div class="form-element">
                            <label for="">Event location</label>
                            <input type="text" class="form-element" placeholder="Include a place or address">
                        </div>
                        <div class="form-element">
                            <label for="">Category</label>
                            <select id="event_modal_category" class="form-control">
                                <option value="">Exhibition</option>
                                <option value="">Cinema</option>
                                <option value="">Dance</option>
                                <option value="">Music</option>
                                <option value="">Travel</option>
                                <option value="">Theater</option>
                                <option value="">Comedy</option>
                                <option value="">Stage shows</option>
                                <option value="">Seminar</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="">Event description (optional) </label>
                            <textarea class="form-control" id="event_editor" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="pt-4">
                        <p class="m-0">
                            <strong>
                                Contact
                            </strong>
                            <small>
                                Let people know how to contact the event organizer.
                            </small>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-element">
                                    <label for="">Telephone</label>
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-element">
                                    <label for="">Website</label>
                                    <input type="text" placeholder="http://www.google.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-element">
                                    <label for="">Email address</label>
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-element">
                                    <label for="">Mobile number</label>
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <p class="m-0">
                            <strong>
                                Keywords
                            </strong>
                            <small>
                            </small>
                        </p>
                        <div class="form-element">
                            <label for="">Key words (Add keywords, separated by comma ',')</label>
                            <select placeholder="Keywords"
                                    name="event_keywords"
                                    multiple
                                    id="keywords-select-2"
                                    class="ui search fluid dropdown">
                                <option selected value="Music">Music</option>
                                <option value="Jass">Jass</option>
                                <option value="Harmoney">Harmony</option>
                                <option value="Guitar">Guitar</option>
                                <option value="Rock">Rock</option>
                            </select>

                        </div>
                        <div class="form-element">
                            <div class="checkbox">
                                <input id="kid_friendly" type="checkbox">
                                <label for="kid_friendly">Kid friendly</label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <p class="m-0">
                            <strong>
                                Date & time - (Occurs once)
                            </strong>
                            <small>
                                Let people know whether this event repeats & how often it happens
                            </small>
                        </p>

                        <div class="date-time-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">Start date</label>

                                                <div class="input-group time">
                                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                                    </div>
                                                    <input type="date"
                                                           class="form-element"
                                                           placeholder="">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">Start time</label>
                                                <div class="input-group">
                                                    <div class="input-group time">
                                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-clock-o text-muted"></i>
                                        </span>
                                                        </div>
                                                        <input type="date"
                                                               class="form-element"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">End date</label>
                                                <div class="input-group">
                                                    <div class="input-group time">
                                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                                        </div>
                                                        <input type="date"
                                                               class="form-element"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-element">
                                                <label for="">End time</label>
                                                <div class="input-group">
                                                    <div class="input-group time">
                                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-clock-o text-muted"></i>
                                        </span>
                                                        </div>
                                                        <input type="date"
                                                               class="form-element"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <p class="m-0">
                            <strong>
                                Frequency
                            </strong>
                            <small>
                                Let people know whether this events repeats & how often it occurs.
                            </small>
                        </p>
                        <div class="form-element">
                            <button class="btn btn-secondary btn-sm"
                                    data-toggle="modal" data-target="#add_more_event_time">
                                <i class="fa fa-list-ul" aria-hidden="true"></i> Schedule
                            </button>
                        </div>
                    </div>
                    <div class="pt-4">
                        <p class="m-0">
                            <strong>
                                Tickets
                            </strong>
                            <small>
                                Let people know where they can get tickets for your event
                            </small>
                        </p>
                        <div class="form-element">
                            <label for="">Tickets URL</label>
                            <input type="text" placeholder="Add a link to your tickets website">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-right">
                            <div class="form-element">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Save Draft</button>
                                <button type="button" class="btn btn-primary">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 border-right pr-4 pt-4">
                {{#parseJSON '{"name": "EDIT AGENDA"}'}}
                {{> block-edit}}
                {{/parseJSON}}

                <div class="event-info-block p-4">

                    <div class="action_btns">
                                <span class="ui" data-toggle="modal" data-target="#edit_event_content" data
                                      data-tooltip="Edit Address">
                                <i class="fa fa-pencil"></i>
                            </span>
                    </div>

                    <div class="d-flex">
                        <div class="event-date-lg pr-4 mr-4">

                                                  <span>
                                                Apr
                                            </span>
                            14

                        </div>
                        <h2>
                            The point of this article is to help you grasp the big picture of getting six pack abs.
                        </h2>
                    </div>
                    <div class="event-date-sm">
                        14 April 2018 - 14 Jun 2018
                    </div>
                    <div class="event-cat-loc">
                        <a href="#" class="event-cat">MUSIC</a>
                        <a href="#" class="event-location">Ixelles</a>
                    </div>
                    <div class="addthis_inline_share_toolbox"></div>
                    <div class="write-comments-count d-flex">
                        <p>
                            Write Comments
                        </p>
                        <div>
                            <div class="comments-count">03</div>
                        </div>
                    </div>
                </div>
                <figure class="event-main-image">

                    <a href="#" class="swipebox gallery-link" data-toggle="tooltip" data-title="Event gallery"
                       data-placement="top">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <span class="count">03</span>
                    </a>
                    <img class="main-image img-fluid sombal" data-src="{{assets}}images/event_single.jpg"
                         alt="Event Page">
                </figure>

                <div class="action_buttons text-center py-4">
                    <a href="#" id="btn_telephone" class="btn btn-default">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        Telephone
                    </a>
                    <a href="http://brusselslife.com/fr/agenda" target="_blank"
                       title="http://brusselslife.com/fr/agenda" class="btn btn-default">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Website
                    </a>
                    <a href="#" class="btn btn-default" title="Book tickets">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        Book tickets
                    </a>

                </div>

                <div class="event-additional-info">
                    <div class="row">
                        <div class="col-md-4"><i class="fa fa-map-marker"></i> Address</div>
                        <div class="col-md-8">
                            <address>
                                BRASS - Centre Cultural de Forest Avenue Van Volxem 364 Forest , 1190
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><i class="fa fa-ticket" aria-hidden="true"></i>Entrance</div>
                        <div class="col-md-8">

                            <p>
                                <strong>
                                    Normal 28 &euro;
                                </strong>

                                &nbsp;
                                <strong>
                                    Private 29 &euro;
                                </strong>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-link" aria-hidden="true"></i> Caracteristiques
                        </div>
                        <div class="col-md-8">

                            <div class="event-filters mb-2">
                                <a href="#" class="btn btn-default">
                                    FASHION
                                </a>
                                <a href="#" class="btn btn-default">
                                    ON STAGE
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><i class="fa fa-clock-o" aria-hidden="true"></i> Event date & Times</div>
                        <div class="col-md-8">
                            <div class="event-date-time-table">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>

                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>

                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>

                                        <td>
                                            Mercredi 10 octobre 2018
                                            Début : 8:00 pm
                                            Fin : 10:30 pm
                                        </td>
                                    </tr>
                                </table>
                                <a href="#" class="btn-see-more">
                                    See more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-summary">

                    La 3e édition de la Fête internationale des Marchés s’invite sur les étals des commerçants pendant
                    le mois de mai.

                </div>
                <div class="content-body">

                    <p>
                        La 3e édition de la Fête internationale des Marchés s’invite sur les étals des commerçants
                        pendant le mois de mai. A Bruxelles, mais en Wallonie aussi, de nombreuses activités seront
                        organisées pour célébrer le dynamisme et la convivialité de ces lieux de vente. <br>
                        Depuis le 5 mai, la Belgique participe à la campagne internationale <a href="#">J’aime mon
                        marché</a>. Cet événement, coordonné en Belgique par le
                        <a href="#">Marché Matinal MABRU</a> et les établissements Charve, a pour objectif de mettre en
                        valeur les marchés alimentaires.
                    </p>
                </div>

                <a href="/agenda" class="btn btn-primary more-events">
                    More events on the same venue
                    <img src="{{assets}}svg/arrow-right.svg" alt="">
                </a>
                
                
                {{> block-subscribe}}

                {{> article-comments}}

            </div>
            <div class="col-md-5 pl-4 pt-4">

                <blife-block>
                    <div id="agenda_other_events">
                        {{#parseJSON '{"name": "OTHER EVENTS"}'}}
                        {{> block-edit}}
                        {{/parseJSON}}

                        <div class="block-content">
                            <div class="agenda-content">
                                <ul class="list-unstyled other-events">
                                    <li>
                                        <a href="#">
                                            <div class="media mb-4">
                                                <figure>
                                                    <img src="{{assets}}images/other_e_1.jpg" alt="">

                                                </figure>
                                                <div class="media-body ml-2">

                                                    <h3 class="event-title mb-2">
                                                        Brighten Skin Up Dull Tired Skin
                                                    </h3>
                                                    <p class="event-date-sm">14 Apr 2018 - 14 Apr 2018</p>

                                                    <span href="#" class="event-cat">
                                                       SPORTS
                                                    </span>
                                                    &nbsp;
                                                    <span class="event-location">
                                                        Brussels
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media mb-4">
                                                <figure>
                                                    <img src="{{assets}}images/other_e_2.jpg" alt="">

                                                </figure>
                                                <div class="media-body ml-2">

                                                    <h3 class="event-title mb-2">
                                                        Barbecue Party Tips For A Truly Amazing Event
                                                    </h3>
                                                    <p class="event-date-sm">14 Apr 2018</p>

                                                    <span href="#" class="event-cat">
                                                       SPORTS
                                                    </span>
                                                    &nbsp;
                                                    <span class="event-location">
                                                        Brussels
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media mb-4">
                                                <figure>
                                                    <img src="{{assets}}images/other_e_3.jpg" alt="">

                                                </figure>
                                                <div class="media-body ml-2">

                                                    <h3 class="event-title mb-2">
                                                        Brighten Skin Up Dull Tired Skin
                                                    </h3>
                                                    <p class="event-date-sm">14 Apr 2018 - 14 Apr 2018</p>

                                                    <span href="#" class="event-cat">
                                                       SPORTS
                                                    </span>
                                                    &nbsp;
                                                    <span class="event-location">
                                                        Brussels
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media mb-4">
                                                <figure>
                                                    <img src="{{assets}}images/other_e_4.jpg" alt="">

                                                </figure>
                                                <div class="media-body ml-2">

                                                    <h3 class="event-title mb-2">
                                                        Barbecue Party Tips For A Truly Amazing Event
                                                    </h3>
                                                    <p class="event-date-sm">14 Apr 2018 - 14 Apr 2018</p>

                                                    <span href="#" class="event-cat">
                                                       SPORTS
                                                    </span>
                                                    &nbsp;
                                                    <span class="event-location">
                                                        Brussels
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media mb-4">
                                                <figure>
                                                    <img src="{{assets}}images/other_e_5.jpg" alt="">

                                                </figure>
                                                <div class="media-body ml-2">

                                                    <h3 class="event-title mb-2">
                                                        Brighten Skin Up Dull Tired Skin
                                                    </h3>
                                                    <p class="event-date-sm">14 Apr 2018 - 14 Apr 2018</p>

                                                    <span href="#" class="event-cat">
                                                       SPORTS
                                                    </span>
                                                    &nbsp;
                                                    <span class="event-location">
                                                        Brussels
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </blife-block>

                <blife-block>
                    <div id="block-23" class="position-relative mb-4">
                        {{#parseJSON '{"name": "BLOCK 23"}'}}
                        {{> block-edit}}
                        {{/parseJSON}}
                        <div class="block-content pb-2">
                            <div class="block-title-mini">
                                <h2 class="pb-2 text-center">
                                    <strong>
                                        <span>Où manger ou boire?</span>
                                        avant et après l'événement
                                    </strong>
                                </h2>
                            </div>
                            <div class="block-address pt-2">

                                <div id="carousel_eat" class="address-list-carousel mb-4 pt-2">
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <a class="btn btn-dark d-block see-all" href="/search/">
                                    See all <img src="{{assets}}svg/arrow-right.svg" alt="">
                                </a>
                            </div>
                            <div class="block-address pt-2">

                                <div id="carousel_drink" class="address-list-carousel address-list-carousel-2 mb-4 pt-2">
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-cell">
                                        <a href="#">
                                            <figure>
                                                <img class="rounded-0 card-img-top"
                                                     src="{{assets}}images/more_article_img_3.jpg"
                                                     title="Article block 01"
                                                     alt="Article block 1">
                                            </figure>
                                        </a>
                                        <a href="#">
                                            <h5 class="mt-2 mb-0">
                                                <strong>
                                                    Address name
                                                </strong>
                                            </h5>
                                            <p>
                                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <a class="btn btn-dark d-block see-all" href="/search">
                                    See all <img src="{{assets}}svg/arrow-right.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </blife-block>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8d05b1d7183391"></script>
