#agenda_first_block {

  .block-title-full {
    margin: 0px 0px;
    h3 {
      font-size: 20px;
    }
  }

  div.float-card {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 75%;

    &:hover {
      background: rgba(0, 0, 0, 0.90);
    }
  }
  p.event-date-sm {
    color: #fff;
  }
}

#agenda_3_blocks {
  div.media {
    padding: 5px;
    border: thin solid #fff;
    background: #fff;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);

    &:hover {
      border: thin solid #000;
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);

      h3.title {
        color: #000;
      }
    }

    h3.title {
      font-weight: bold;
      font-size: 14px;
      color: #3F3F3F;
      line-height: 1.4em;
      margin-bottom: 10px;
    }
    p {
      margin: 0px;
      font-family: $base-font-family;
      span {
        display: inline-block;
      }
      span.event-location {
        color: #666;
        padding-left: 15px;
      }
    }
    p.event-date-sm {
      margin: 0px 0px 5px 0px;
    }
  }
}

#ag_block_3 {

  div.card {
    border: thin solid transparent;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;

    &:hover {
      border: thin solid #000;
      -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .event-date-lg a,
  h3.event-title {
    color: #000;
  }

  .btn-addto-cal {
    padding: 0px;
    box-shadow: none !important;
    width: 44px;
    text-align: center;
    font-size: 10px;
    margin: 15px 15px 0px 15px;
  }

  .event-location {
    color: $blue-info-dark;
  }

}

#ag_block_3_1 {
  a.submit_event_link {
    background: url('../images/submit_event.jpg') center center no-repeat;
    height: 240px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;

    button {
      font-weight: bold;
      color: #fff;
      padding: 10px 20px;
      margin: 10px 0px 0px 0px;
    }
    .block-info {
      width: 220px;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      line-height: 1em;
    }
    &:hover {
      button {
        background: darken($secondary-orange, 5%);
      }
    }
  }
  a.single-event {

    img {
      width: 100%;
    }

    display: block;
    h3.title {
      color: #3F3F3F;
      line-height: 1.5em;
      font-weight: bold;
      font-size: 14px;

    }

    p.event-date-sm {
      margin: 5px 0px 5px 0px;
    }

    span.event-location {
      font-family: $base-font-family;
      color: #666;
      display: inline-block;
      margin-left: 5px;
    }
  }
}

#agenda_discovered {
  .block-title-full {
    margin: 0px 0px;
    h3 {
      font-size: 20px;
    }
  }

  .block-content {
    margin: 0px -10px;
    background-color: #fff;
  }

  div.card {
    background-color: #fff;
    width: 270px;
    margin-right: $gutter/2;
    padding: 5px;
    border: thin solid #fff;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;

    &:hover {
      border: thin solid #000;
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);

      h3 {
        color: #000;
      }
    }

    img {
      height: 175px;
    }

    h3 {
      font-family: $content-font;
      color: #495057;
      line-height: 1.5em;
      font-size: 14px;
      font-weight: bold;
    }

    .event-location {
      color: #666;
    }

    .event-date-sm {
      margin: 5px 0px 5px 0px;
    }

    div.card-body {
      min-height: 100px;
    }
  }

  .block-title-full {
    h3 {
      font-size: 20px;
    }
  }
}

#agenda_started {
  .block-title-full {
    margin: 0px 0px;
    h3 {
      font-size: 20px;
    }
  }

  div.media-version,
  div.card-version {

    h3.event-title {
      color: #3F3F3F;
      font-weight: bold;
      font-size: 14px;
    }
    .event-date-sm {
      margin: 5px 0px 5px 0px;
    }
    .event-location {
      color: #666;
    }

    div.card {
      padding: 5px 5px;
      div.card-body {
        padding: 0px;
      }
    }
    div.media {
      padding: 5px;
      margin-bottom: 20px;

      p.event-date-sm {
        margin: 0px 0px 5px 0px;
      }
    }

    div.card,
    div.media {
      cursor: pointer;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease;
      border: thin solid #fff;

      &:active {
        -webkit-transition: 0s ease;
        -moz-transition: 0s ease;
        -ms-transition: 0s ease;
        -o-transition: 0s ease;
        transition: 0s ease;
        background: #f1f1f1;
      }
      &:hover {
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
        border: thin solid #000;

        h3.event-title {
          color: #000;
        }
      }
    }
  }

}

#agenda_other_events {

  ul.list-unstyled {
    margin-top: -5px;
    margin-left: -5px;
  }

  div.media {
    margin-bottom: 15px !important;
    border: thin solid transparent;
    padding: 5px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;

    &:hover {
      padding: 5px;
      border: thin solid #000;
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
    }

  }
}

#agenda_week {
  padding: 20px 0px;

  div.week-date {
    display: inline-block;
    margin: 0px 0px 0px 24px;
    border-radius: 4px;
    background: #eee;
    text-align: center;
    width: 120px;
    height: 136px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;

    &:active {
      background: #eee;
      -webkit-transform: translateY(-0px);
      -moz-transform: translateY(-0px);
      -ms-transform: translateY(-0px);
      -o-transform: translateY(-0px);
      transform: translateY(-0px);
      -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    }

    &:hover {
      background: #EA9C1E;
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
      span, h2, p {
        color: #000;
      }
    }
    > a {

      height: 136px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    span {
      font-size: 12px;
    }
    p {
      font-size: 16px;
      margin: 0px;
    }
    h2 {
      font-size: 42px;
      font-weight: bold;
    }
    span, p, h2 {
      color: #5e5e5e;
      font-family: $base-font-family;
    }
  }
  div.week-date:first-child {
    margin-left: 0px;
    background: #EA9C1E;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
    span, h2, p {
      color: #000;
    }
  }
}
