#block-13 {

  .block-content {
    background: $primary-green;
    padding: 0px 20px 0px 20px;
    margin: 0px -20px;

    .block-title-full {
      background: darken($primary-green,15%);
      padding: 20px 0px;
      margin-bottom:20px;
      h3 {
        color: #fff;
        font-size: 24px;
      }
    }
  }
  .section-content-carousel {
    .carousel-cell {
      width: 280px;
      margin: 0px $gutter $gutter 0px;

      a {
        display: block;
        img {
          border: none;
        }

        &:hover {
          h4 {
            color: #a0a0a0;
          }
        }
      }

      h4 {
        font-family: $secondary-title-font;
        font-size: 20px;
        font-weight: bold;
        color: #fff;

      }

    }
  }

}