#left_float_menu {
  position: fixed;
  left: -60px;
  opacity: 0;
  top: 0px;
  background: #17303F;
  width: 72px;
  height: 100vh;
  z-index: 3000;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  ul {
    list-style: none;
    margin: 126px 0px 0px 0px;
    padding: 0px;

    li a {
      display: block;
      padding: 14px 0px;
      color: #fff;
      &:hover {
        color: #d9d9d9;
      }
      &:active {
        background: darken(#17303F, 5%);
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -o-transform: scale(0.98);
        transform: scale(0.98);
      }

      div.icon-img {
        text-align: center;

        i.fa {
          text-align: center;
          font-size: 16px;
        }
      }

      //img {
      //  display: block;
      //  margin: 0 auto;
      //  background:#d9d9d9;
      //  width: 32px;
      //  height: 32px;
      //  border-radius: 44px;
      //}
      span {
        color: #fff;
        font-size: 10px;
        text-align: center;
        display: block;

      }
    }

  }

  &.show-menu {
    left: 0px;
    opacity: 1;
  }

}