#section-block-grid-articles {
  div.col-md-8 {
    padding: 20px;
    a {
      display: block;
      figure {
        img {
          width: 100%;
        }
      }

      h3 {
        color: #000;
        font-size: 16px;
        margin: 0px 0px 10px 0px;
      }

    }
  }
  div.col-md-4 {
    padding: 0px 0px 0px 20px;
    div.block-address {
      padding: 20px;
    }
  }
  div.info_author {

    padding: 10px 0px 20px 0px;
    a {
      display: flex;
    }

  }
}