<subscribe>
    <div id="block-subscribe" class="position-relative">
        <!--{{#parseJSON '{"name": "BLOCK SUBSCRIBE"}'}}-->
        <!--{{> block-edit}}-->
        <!--{{/parseJSON}}-->
        <div class="block-content">
            <div class="card border-0 rounded-0 border-top border-bottom  subscribe-form mb-3 p-0" id="news-letter-1">
                <div class="card-header border-0 bg-transparent p-0">
                    <h3 class="my-2">
                        <strong>
                            Newsletter
                        </strong>
                    </h3>
                    <p class="">

                        <!--Inscrivez-vous à la newsletter de Brusselslife.be pour rester au courant de l’actualité,-->
                        <!--des nouvelles adresses, de nos derniers articles, des événements à venir et des-->
                        <!--dernières promotions.-->

                        <!--<a href="#">Privacy Policy</a>-->
                    </p>
                </div>
                <div class="card-body border-0 bg-transparent p-0 pb-4">
                    <form action="">

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <strong>
                                    Recevez chaque matin l'essentiel de l'info restaurants.
                                </strong>
                            </div>
                            <div>
                                <button class="btn btn-success border-0">
                                   OK
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</subscribe>