<div id="left_float_menu">
    <ul>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                About
            </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                    Contact Us
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                Newsletter
            </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                    Create
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                   Notifications
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="">
                <span>
                    Profile
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    EN
                </span>
            </a>
        </li>
    </ul>
</div>