<header class="header-search">
    <div class="container bg-transparent p-0">
        <div class="row no-gutters">

            <div class="col-sm-3 d-sm-flex">
                <button class="side-menu-trigger btn btn-dark bg-transparent rounded-0 border-0 p-0">
                    <img src="{{assets}}svg/menu-bar.svg" alt="">
                </button>

                <a href="/" class="logo">
                    <img src="{{assets}}images/brusselslife_logo.png"
                         title="Brusselslife.be"
                         name="Brusselslife.be"
                         alt="Brusselslife.be">
                </a>
            </div>


            <div class="col-sm-6">
                <form action="/search">
                    <button class="btn btn-clear btn-info-blue " id="btn_clear"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Clear">
                        <i class="fa fa-close"></i>
                    </button>
                    <button class="btn btn-share btn-info-blue"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Share results">
                        <i class="fa fa-share"></i>
                    </button>
                    <input type="text" class="form-control " value="Short eats" id="search_input">
                </form>

            </div>

            <div class="col-sm-2">

            </div>
        </div>
    </div>
</header>