<blife-block>
    <div id="section-search"
         style="background:#fff;" class="mb-4">
        <section class="container form-wrapper bg-transparent ">
            <div class="row align-items-center justify-content-center no-gutters">
                <div class="col-12 col-lg-12">

                    <h1 class="search-tag-line">
                        Find best restaurants, places <br>
                        to eat & drink.
                    </h1>

                    <form id="search-form" class="d-flex position-relative">
                        <label class="sr-only" for="search_input">{{__.search_input}}</label>
                        <div class="category-dropdown">
                            <img src="{{assets}}svg/eat-drink-white.svg" alt="">
                            <div class="dropdown" data-toggle="dropdown">
<span>
    Eat and Drink <i class="fa fa-caret-down"></i>
</span>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a href="/fr/restaurants">
                                            Restaurants
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/friteries">
                                            Friteries
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/sur-le-pouce">
                                            Sur le Pouce
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/food-trucks">
                                            Food Trucks
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/bars-cafes">
                                            Bars &amp; Cafés
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/tea-coffee-time">
                                            Tea &amp; Coffee Time
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/fr/Traiteurs">
                                            Traiteurs
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend d-none d-sm-block">
                                <div class="input-group-text">
                                    <img src="{{assets}}svg/bl-icon-search.svg" alt="">
                                </div>
                            </div>
                            <input type="text" class="form-control" id="search_input"
                                   placeholder="{{__.search_placeholder}}">

                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary">
                               <span class="d-none d-sm-inline">
                                    {{__.search}}
                               </span>

                                    <i class="fa fa-search d-inline d-sm-none"></i>

                                </button>
                            </div>
                        </div>
                        <div class="your-location"
                             data-toggle="tooltip"
                             data-placement="top"
                             title="{{__.choose_your_location}}">
                            <a href="#" class="btn btn-dark">
                                <img src="{{assets}}svg/bl-icon-your-location.svg" alt="">
                            </a>
                        </div>


                    </form>

                </div>
            </div>
        </section>
    </div>
    <!--<div class="container-fluid">-->
        <!--<div class="row no-gutter colour-bars">-->
            <!--<div class="col-4 bg-orange"></div>-->
            <!--<div class="col-4 bg-blue"></div>-->
            <!--<div class="col-4 bg-light-blue"></div>-->
        <!--</div>-->
    <!--</div>-->
</blife-block>

