<section class="container" id="section-multi-articles">
    <div class="row no-gutters">
        <div class="col-md-8 bg-white shadow-lg p-4">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>
                            <p>
                                Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                                dédié
                                aux visiteurs édifié par un parlement en Europe.
                            </p>
                        </a>

                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_1.png" alt="">
                                <p>
                                    Brijamohan Mallick
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>
                            <p>
                                Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                                dédié
                                aux visiteurs édifié par un parlement en Europe.
                            </p>
                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_2.png" alt="">
                                <p>
                                    Xing Zheng

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>